{{partial "layout/header"}}
<main>
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        {{#if session.isAuthenticated}}
          {{partial "layout/sidebar"}}
        {{/if}}
      </div>
      <div class="column is-9 content">
        {{outlet}}
      </div>
    </div>
  </div>
</main>
{{partial "layout/footer"}}
