<footer class="the-footer">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="content text-center">
          <div class="logo">
            Foodie
          </div>
          <h4>
            Built with <a href="http://emberjs.com/" target="_blank">Ember 2.7</a> & <a href="http://rubyonrails.org" target="_blank">Rails 5 API</a>
             & <a href="http://bulma.io" target="_blank">Bulma IO</a>
          </h4>
          <p>
            &copy; Copyright Foodie. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
