<header class="the-header header">
  <nav class="nav">
    <div class="nav-left">
      {{#link-to 'application' class='logo nav-item'}}
        Foodie
      {{/link-to}}
    </div>

    <div class="nav-center">
      <p>
        {{#if session.isAuthenticated}}
          Hello, {{sessionAccount.account.name}}
        {{/if}}
      </p>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      {{#link-to 'posts' class='nav-item'}}Blog{{/link-to}}
      {{#link-to 'recipes' class='nav-item'}}Recipes{{/link-to}}
      {{#link-to 'reviews' class='nav-item'}}Reviews{{/link-to}}
      <span class="nav-item">
        {{#if session.isAuthenticated}}
          <a class="button is-outlined" href="#" {{action "logout"}}>
            <span>Logout</span>
          </a>
        {{else}}
          {{#link-to 'login' class="button is-primary"}}<span>Login</span>{{/link-to}}
        {{/if}}
      </span>
    </div>
  </nav>
</header>
