<aside class="menu">
  <p class="menu-label">
    Latest Activities
  </p>
  {{#activity-list activities=model as |activities|}}
    {{#activity-list-item activity=activities as |activity|}}
      {{activity.user.name}}
      <a href="{{trackableURL activity.trackableType activity.trackable.id}}">
      {{activity.formattedAction}} {{activity.trackableType}}</a>
      <i>{{moment-from-now activity.createdAt hideSuffix=true}} ago</i>
    {{/activity-list-item}}
  {{/activity-list}}
  <p class="menu-label">
    Foodie Finder
  </p>
  <ul class="menu-list">
    {{#active-link tagName="li"}}
      {{link-to "Blog" "posts" activeClass="is-active"}}
      <ul>
        {{#active-link tagName="li"}}
          {{link-to "All Posts" "posts" activeClass="is-active"}}
        {{/active-link}}
        {{#active-link tagName="li"}}
          {{link-to "New Post" "posts.new"}}
        {{/active-link}}
      </ul>
    {{/active-link}}
    {{#active-link tagName="li"}}
      {{link-to "Recipes" "recipes" activeClass="is-active"}}
      <ul>
        {{#active-link tagName="li"}}
          {{link-to "All Recipes" "recipes" activeClass="is-active"}}
        {{/active-link}}
        {{#active-link tagName="li"}}
          {{link-to "New Recipe" "recipes.new"}}
        {{/active-link}}
      </ul>
    {{/active-link}}
    {{#active-link tagName="li"}}
      {{link-to "Reviews" "reviews" activeClass="is-active"}}
      <ul>
        {{#active-link tagName="li"}}
          {{link-to "All Reviews" "reviews" activeClass="is-active"}}
        {{/active-link}}
        {{#active-link tagName="li"}}
          {{link-to "New Review" "reviews.new"}}
        {{/active-link}}
      </ul>
    {{/active-link}}
  </ul>
</aside>
