<div class="level">
  <div class="level-left">
    <h1>Recipe</h1>
  </div>
  <div class="level-right">
    <p class="text-right">
      {{#link-to "recipes.new" class="button is-primary"}}Add recipe{{/link-to}}
    </p>
  </div>
</div>

{{#each model as |recipe|}}
  <div class="block">
    <h3>
      {{ recipe.title }}
    </h3>
    <p>
      {{recipe.excerpt}} {{#link-to 'recipes.show' recipe}}Read more{{/link-to}}
    </p>
  </div>
{{else}}
  <p>No recipes yet. Why not start one?</p>
{{/each}}
