<div class="level">
  <div class="level-left">
    <h1>Blog</h1>
  </div>
  <div class="level-right">
    <p class="text-right">
      {{#link-to 'posts' class='button'}}Back to blog posts{{/link-to}}
    </p>
  </div>
</div>

<form>
  <p class="control">
    <label class="label">Title</label>
    {{input class="input" placeholder="Title" value=model.title}}
  </p>
  <p class="control">
    <label class="label">Content</label>
    {{tinymce-editor value=model.content}}
  </p>
  <p class="control">
    <label class="label">Excerpt</label>
    {{textarea class="textarea" placeholder="Excerpt" value=model.excerpt}}
  </p>
  <div class="level">
    <div class="level-left">
      <button type="submit" class="button is-primary" {{action "save"}}>
        {{#if model.isNew}}Create{{else}}Update{{/if}}
      </button>
      <button class="button is-danger" {{action "cancel"}}>Cancel</button>
    </div>
    <div class="level-right">
      <a href="#" {{action "delete" model}}>Delete</a>
    </div>
  </div>
</form>
