<div class="level">
  <div class="level-left">
    <h1>Blog</h1>
  </div>
  <div class="level-right">
    <p class="text-right">
      {{#link-to "posts.new" class="button is-primary"}}Add post{{/link-to}}
    </p>
  </div>
</div>

{{#each model as |post|}}
  <div class="block">
    <h3>
      {{ post.title }}
    </h3>
    <p>
      {{post.excerpt}} {{#link-to 'posts.show' post}}Read more{{/link-to}}
    </p>
  </div>
{{else}}
  <p>No posts yet. Why not start one?</p>
{{/each}}
