<div class="level">
  <div class="level-left">
    <h1>Reviews</h1>
  </div>
  <div class="level-right">
    <p class="text-right">
      {{#link-to "reviews.new" class="button is-primary"}}Add review{{/link-to}}
    </p>
  </div>
</div>

{{#each model as |review|}}
  <div class="block">
    <h3>
      {{ review.title }}
    </h3>
    <p>
      {{review.excerpt}} {{#link-to 'reviews.show' review}}Read more{{/link-to}}
    </p>
  </div>
{{else}}
  <p>No reviews yet. Why not start one?</p>
{{/each}}
