<div class="level">
  <div class="level-left">
    {{#link-to 'reviews' class='button'}}Back to reviews{{/link-to}}
    {{#link-to 'reviews.edit' model.id class='button is-primary'}}Edit{{/link-to}}
  </div>
  <div class="level-right">
    <a href="#" {{action "delete" model}}>Delete</a>
  </div>
</div>

<div class="columns">
  <div class="column">
    <h2>{{model.title}}</h2>
    <p class="subtitle">
      {{moment-format model.createdAt 'd MMM, Y'}}, {{model.user.name}}, Reviewer rating: {{model.starRating}}
    </p>
    {{model.contentHtmlSafe}}
  </div>
</div>


