@import bulma
@import 'ember-power-select'
@import 'utilities/utilities'
@import 'base/base'
@import 'elements/elements'
@import 'components/components'
@import 'layout/layout'

.section
  background: none

.container
  max-width: 900px

.no-padding
  padding: 0

.the-page-header
  padding-left: 0
  padding-right: 0
  padding-bottom: 0

main
  padding-top: 4rem
  padding-bottom: 4rem

.text-right
  text-align: right

.text-center
  text-align: center


.button
  + .button, + a
    margin-left:  0.4rem

.level
  h1, h2, h3, h4, h5, h6
    margin: 0
