<div class="activity-list">
  {{#each sortedActivities as |activity|}}
    {{yield activity}}
  {{else}}
    <div class="col-sm-12 offer-list-item">
      <em>No activities found.</em>
    </div>
  {{/each}}
</div>
