<div class="columns">
  <div class="column is-4">
    <!-- app/templates/components/login-form.hbs -->
    <form {{action "authenticate" on="submit"}}>
      <div class="control">
        <label for="identification">Email login</label>
        {{input value=identification placeholder="Email address" class="input"}}
      </div>

      <div class="control">
        <label for="password">Password</label>
        {{input value=password type="password" placeholder="Enter Password" class="input"}}
      </div>

      <button class="button is-primary" type="submit">Login</button>
    </form>
  </div>
  {{#if errorMessage}}
    <div class="notification is-info">
      <p>
        {{errorMessage}}
      </p>
    </div>
  {{/if}}
</div>

